In [ ]:
# Samarth Deshmukh
# 25070123101
#1a check whether the number is positive , negative
#1b check whether the number is positive , negative or zero

In [ ]:
num = int(input("Enter a number: ")) #1
if num > 0:
      print("Positive")
elif num < 0:
      print("Negative")
else:
      print("Zero")

Enter a number: 0
Zero

In [ ]:
num = int(input("Enter a number: ")) #2
if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [ ]:
a= int(input("Enter 1st number: ")) #3
b= int(input("Enter 2nd number: "))
c= int(input("Enter 3rd number: "))

if a>=b and a>=c:
    print("Largest:", a )
elif b>=a and b>=c:
    print("Largest:", b)
else:
    print("Largest:", c)

Enter 1st number: 5
Enter 2nd number: 6
Enter 3rd number: 555
Largest: 555

In [ ]:
marks = int(input("Enter marks: ")) #4
if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
elif marks >= 40:
    print("Grade: D")
else:
    print("Fail")
#

Enter marks: 2
Fail

In [ ]:
year = int(input("Enter a year: ")) #5

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

In [3]:
ch = input("enter a character: ") #6

if ch in 'aeiouAEIOU':
    print("vowel.")
else:
    print("Consonant")

enter a character: E
vowel.

In [8]:
basic = float(input("Enter salary: ")) #7

if basic <= 10000:
   hra = basic*0.20
   da = basic*0.80
elif basic <= 20000:
   hra = basic*0.25
   da = basic*0.90
else:
   hra = basic*0.30
   da = basic*0.95

Gross = basic + hra + da

print("Gross salary:", Gross)

Enter salary: 10000
Gross salary: 20000.0

In [14]:
annual_income = float(input("Enter your annual income: ")) #8

income_tax = 0.0
if annual_income <= 250000:
    income_tax = 0
elif annual_income <= 500000:
    income_tax = (annual_income - 250000) * 0.05
elif annual_income <= 1000000:
    income_tax = 12500 + (annual_income - 500000) * 0.20
else:
    income_tax = 12500 + 100000 + (annual_income - 1000000) * 0.30

print(f"Annual Income: {annual_income:,.2f}")
print(f"Calculated Income Tax: {income_tax:,.2f}")

Enter your annual income: 700000
Annual Income: 700,000.00
Calculated Income Tax: 52,499.80

In [15]:
date=input("enter date in format dd/mm/yyyy:")
dd,mm,yyyy=date.split('/')
dd=int(dd)
mm=int(mm)
yyyy=int(yyyy)
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
    max1=31
elif(mm==4 or mm==6 or mm==9 or mm==11):
    max1=30
elif(yyyy%4==0 and yyyy%100!=0 or yyyy%400==0):
    max1=29
else:
    max1=28

if(mm<1 or mm>12):
    print("date is invalid")
elif(dd<1 or dd>max1):
    print("date is invalid")
elif(dd==max1 and mm!=12):
    dd=1
    mm=mm+1
    print("the incremented date is:",dd,mm,yyyy)
elif(dd==31 and mm==12):
    dd=1
    mm=1
    yyyy=yyyy+1
    print("the incremented date is:",dd,mm,yyyy)
else:
    dd=dd+1
    print("the incremented date is:",dd,mm,yyyy)

enter date in format dd/mm/yyyy:08/07/2007
the incremented date is: 9 7 2007